
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="wrap">
    <div class="contact">
        <div class="contact_about">
            <h2 class="contact_about_title">We are here for you!</h2>
            <h3 class="contact_about_subtitle">For the fastest replies please contact us by email. Any messages will be handled in a timely manner.</h3>
            <span class="contact_about_or">or</span>
            <div class="contact_about_social">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
            <div class="contact_about_infor">
                <div class="contact_about_infor_address">
                    <i class="fas fa-map-marker"></i>
                    <h4>OUR ADDRESS</h4>
                    <h5>123 Nguyễn Huệ, Bến Nghé Q1, TPHCM</h5>
                </div>
                <div class="contact_about_infor_phone">
                    <i class="fas fa-phone"></i>
                    <h4>TEXTING PREFERRED, WILL GET FASTER RESPONSE</h4>
                    <h5>077 797 3833</h5>
                </div>
                <div class="contact_about_infor_email">
                    <i class="fas fa-envelope"></i>
                    <h4>EMAIL US</h4>
                    <h5>maximilian@gmail.com</h5>
                </div>
            </div>
        </div>
        <div class="contact_form">
            <form action="">
                <div>
                    <label for="">Your Name</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Your Email *</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Your Phone Number</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Your Other Number</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Your Subject</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Your Message *</label>
                    <textarea rows="10"></textarea>
                </div>
                <button class="contact_form_submit">SEND</button>
            </form>
        </div>
    </div>
</div>

